.bigDivAboutPage {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.handsImg {
    height: auto;
    width: 100vw;
    margin-bottom: 5vw;
    margin-top: 9vw;
}

.circlehandsImg {
    width: 100vw;
    height: auto;
    margin-top: 7vw;
}