.addSeedsBtn {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: darkslategray;
    color: white;
    width: 50vw;
}

.addSeedsBtn:visited {
    color: white;
}

.addSeedsBtn:active {
    text-decoration: none;
}