.mySeedListBtn {
    margin-top: 0.5vw;
    background-color: darkslategray;
    color: white;
    width: 50vw;
    margin-bottom: 28px;

}

.mySeedListBtn:visited {
    color: white;
}

.mySeedListBtn:active {
    text-decoration: none;
}