.buttonAndAboutMeHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe {
    border: 2px solid darkslategray;
    width: 70vw;
    margin-top: 5vw;
    text-align: left;
    min-height: 30vw;

}