.App {
    text-align: center;
  }
  
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  } */
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  /* @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
   */
  /* .cap {
    height: auto;
    width: 80vw;
  } */
  
  /* .picture {
    height: auto;
    width: 80vw;
    margin-top: 3vh;
  } */
  
  .imgInBackRect {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
  }

  .titleInFront {
    color: black;
    margin-top: -11.5vh;
    font-size: 7vw;
  }

  .pageHolder {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid green; */
    box-sizing: border-box;
  }

  .stndrdBtn {
    background-color: darkslategray;
    color: white;
    width: 50vw;
  }
  